.nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: var(--space-sm) var(--space-md);
    font-family: sans-serif;
    gap: var(--space-md);
    z-index: 50;
}

.navFront {
    background: var(--blue);
}

.navBack {
    background: var(--rose-pale);
}

.menuAuth {
    background-color: var(--white);
}

.link {
    cursor: pointer;
    border-radius: 6px;
    font-size: var(--font-md);
    display: inline-flex;
    align-items: center;
    gap: var(--gap-xs);
    padding: var(--space-xs);
    transition: 200ms ease;
}

.link:hover {
    color: var(--dark-pink);
}

.link:active {
    color: var(--dark-pink);
}

.brand {
    white-space: nowrap;
    font-weight: bold;
    font-size: var(--font-lg);
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
}

.label {
    background: var(--pink-red);
    color: white;
    font-size: var(--font-xs);
    padding: 0.1rem 0.5rem;
    border-radius: 4px;
    text-transform: uppercase;
}

.menu {
    display: flex;
    align-items: center;
    gap: var(--gap-lg);
    list-style: none;
    margin: 0;
    padding: 0;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: var(--gap-sm);
}

.actions > * {
    flex: 1 1;
}

.logout {
    background: var(--pink-red);
    color: white;
    border: none;
    padding: var(--space-xs) var(--space-sm);
    border-radius: 4px;
    cursor: pointer;
}

.backHome {
    text-decoration: underline;
    color: black;
}

.burger {
    display: none;
    font-size: var(--font-2xl);
    background: none;
    border: none;
    cursor: pointer;
}

.login,
.register {
    max-width: 150px;
    white-space: nowrap;
    display: inline-block;
    padding: var(--space-sm) var(--space-lg);
    border-radius: 50px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
    font-size: var(--font-sm);
}

.login {
    background-color: transparent;
    border: 1px solid var(--charcoal);
    color: var(--charcoal);
}

.login:hover {
    background-color: var(--white);
}

.register {
    background-color: var(--pink-red);
    color: var(--white);
}

.register:hover {
    background-color: var(--dark-pink);
}

@media screen and (max-width: 1250px) {
    .nav {
        justify-content: space-between;
        padding: var(--space-md) var(--space-lg);
    }

    .brandContainer {
        position: relative;
        display: flex;
        align-items: center;
        gap: var(--space-md);
    }

    .burger {
        display: block;
    }

    .menu {
        transform: scaleY(0%);
        visibility: hidden;
        pointer-events: none;
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        gap: var(--gap-sm);
        z-index: 100;
        box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        transform-origin: top;
        transition: 200ms ease;
        padding-bottom: 10px;
    }

    .menuFront {
        background-color: var(--blue);
    }

    .menuBack {
        background-color: var(--rose-pale);
    }

    .menu.menuOpen {
        transform: scaleY(100%);
        visibility: visible;
        pointer-events: all;
    }

    .menu li {
        padding: var(--space-xs) var(--space-md);
    }
}
