.nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--rose-pale);
    padding: var(--space-sm) var(--space-md);
    font-family: sans-serif;
    gap: var(--space-md);
    z-index: 50;
}

.link {
    cursor: pointer;
    border-radius: 6px;
    font-size: var(--font-md);
    display: inline-flex;
    align-items: center;
    gap: var(--gap-xs);
    padding: var(--space-xs);
    transition: 200ms ease;
}

.link:hover {
    color: var(--dark-pink);
}

.link:active {
    color: var(--dark-pink);
}

.brand {
    font-weight: bold;
    font-size: var(--font-lg);
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
}

.label {
    background: var(--pink-red);
    color: white;
    font-size: var(--font-xs);
    padding: 0.1rem 0.5rem;
    border-radius: 4px;
    text-transform: uppercase;
}

.menu {
    display: flex;
    align-items: center;
    gap: var(--gap-lg);
    list-style: none;
    margin: 0;
    padding: 0;
}

.actions {
    display: flex;
    align-items: center;
    gap: var(--gap-md);
}

.logout {
    background: var(--pink-red);
    color: white;
    border: none;
    padding: var(--space-xs) var(--space-sm);
    border-radius: 4px;
    cursor: pointer;
}

.backHome {
    text-decoration: underline;
    color: black;
}

.burger {
    display: none;
    font-size: var(--font-2xl);
    background: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .nav {
        justify-content: space-between;
        padding: var(--space-md) var(--space-lg);
    }

    .brandContainer {
        position: relative;
        display: flex;
        align-items: center;
        gap: var(--space-md);
    }

    .burger {
        display: block;
    }

    .menu {
        transform: scaleY(0%);
        visibility: hidden;
        pointer-events: none;
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background: var(--rose-pale);
        gap: var(--gap-sm);
        z-index: 100;
        box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        transform-origin: top;
        transition: 200ms ease;
        padding-bottom: 10px;
    }

    .menu.menuOpen {
        transform: scaleY(100%);
        visibility: visible;
        pointer-events: all;
    }

    .menu li {
        padding: var(--space-xs) var(--space-md);
    }
}
