.input {
    width: 100%;
    padding: var(--space-xs) var(--space-sm);
    border: 1px solid var(--muted-blue);
    border-radius: 4px;
    font-size: var(--font-sm);
    background-color: var(--white);
    color: var(--charcoal);
    transition: border 0.2s, background-color 0.2s;
}

.input:hover:not(.disabled) {
    border-color: var(--steel-blue);
    background-color: var(--soft-mint);
}

.input:focus:not(.disabled) {
    border-color: var(--blue);
    background-color: var(--soft-mint);
    box-shadow: none;
    outline: none;
}

.disabled {
    background-color: var(--soft-gray);
    color: var(--charcoal);
    cursor: not-allowed;
}