.authSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: var(--space-lg);
}

.container {
    display: flex;
    max-width: min(1200px, 90vw);
}

.leftPanel,
.rightPanel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.leftPanel {
    background: linear-gradient(135deg, var(--dark-pink), var(--pink-red));
    color: var(--white);
    padding: var(--space-xl);
}

.rightPanel {
    padding: var(--space-xl);
}

.title {
    font-size: var(--font-h4);
    font-weight: 700;
    margin-bottom: var(--space-xs);
}

.subtitle {
    font-size: var(--font-md);
    color: var(--white);
    margin-bottom: var(--space-md);
}

.form {
    width: 100%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
}

.linkButton {
    border: 1px solid var(--white);
    border-radius: 30px;
    padding: var(--space-sm) var(--space-lg);
    color: var(--white);
    text-transform: uppercase;
    font-size: var(--font-xs);
    letter-spacing: 0.05em;
    transition: all 0.3s ease;
    background: transparent;
}

.disclaimer {
    font-size: var(--font-xs);
    color: var(--dark-pink);
    text-align: start;
}

.linkButton:hover {
    background-color: var(--white);
    color: var(--pink-red);
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
}

.inputImage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xs);
}

.imageUpload {
    display: flex;
    gap: var(--gap-sm);
}

.imagePreviewWrapper {
    position: relative;
    width: 120px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    background: var(--soft-gray);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.imagePreview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.fileInput {
    opacity: 0;
    position: absolute;
    width: 120px;
    aspect-ratio: 1;
    cursor: pointer;
}

.imagePreviewWrapper::after {
    content: "Upload";
    position: absolute;
    color: var(--charcoal);
    font-size: var(--font-sm);
    opacity: 0.5;
    transition: opacity 0.2s ease;
    pointer-events: none;
}

.imagePreviewWrapper:hover::after {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .authSection {
        padding-block: var(--space-md);
    }
    .leftPanel {
        aspect-ratio: 2;
    }
    .container {
        flex-direction: column;
    }
}
